@import 'variables';

* {
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.pink {
  background-color: #f2cbe0;
}
.green {
  background-color: #e1f2cb;
}
.orange {
  background-color: #f2e1cb;
}
.blue {
  background-color: #cbe6f2;
}

.flex-container {
  border: 3px solid #fff;
  /*width: 606px;*/
  width: 60%;
  display: flex;
  height: 90vh;
  margin: 5vh auto;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  align-content: flex-end;
}
.sub_block {
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
}
.tetris {
  &__square {
    width: 100px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
  }
  &__row {
    width: 200px;
    height: 50px;
    display: flex;
    flex-flow: row no-wrap;
  }
  &__L {
    width:150px;
    height: 100px;
    /*transform: rotate(270deg);
    transform-origin: 33.3%;*/
    margin-right: -50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    & .sub_block {
      &:nth-child(4) {
        align-self: flex-end;
      }
    }
  }
  &__T {
    width: 150px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transform: rotate(180deg);
  }
}
